<div class="container-fluid my-4">
  <div class="row d-flex justify-content-evenly">
    <div class="">
      <nav aria-label="breadcrumb" class="">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs; index as idx">
            <a class="" (click)="navigateToUrl(breadcrumb.url)" [ngClass]="{
                  'blue fw-bold': idx + 1 === breadcrumbs.length
                }" style="font-size: 0.9rem">
              {{ breadcrumb?.label }}
            </a>
          </li>

          <li *ngIf="breadcrumbs.length > 2" (click)="clearBreadcrumbs()">
            <i class="fa fa-close ms-3" style="font-size: 1.5rem; color: red"></i>
          </li>
        </ol>
      </nav>
    </div>

  </div>



</div>