<div class="container-fluid">
    <app-hero-carousel />

    <section class="mt-5 px-5">
        <h4 class="fw-bolder mb-3" style="font-family: Roboto, sans-serif;">up to 70% off black friday picks for you
        </h4>
        <div class="row">
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">Lismore 12 Pair Shoe Storage Cabinet</p>
                <h3 class="mb-1">$95.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$315.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name2.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">Avalyn Adjustable Bed with Wireless Remote</p>
                <h3 class="mb-1">$395.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$999.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name3.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">Gyala Semi Sheer Roman Shade</p>
                <h3 class="mb-1">$55.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$75.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name4.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">Lorentz Adjustable L-Shaped Standing Desk</p>
                <h3 class="mb-1">$495.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$615.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name5.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">Hudak Swivel Reclining Glider</p>
                <h3 class="mb-1">$295.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$915.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name6.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">Shoe Storage Cabinet</p>
                <h3 class="mb-1">$195.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$315.00</small>
            </div>
        </div>
    </section>
    <section class="mt-5 px-5">
        <div class="col col-12 hover-div p-4"><img class="img-fluid"
                src="assets/img/10__ss1__back_with_double_rewards_introducing_[wayfair_rewards_logo]_celebrate_the_launch_with_5_10__back_ss1__through_october_31._plus,_enjoy_exclusive_perks_every_time_you_shop._join_now_306443168.webp"
                style="border-radius: 10px;"></div>
    </section>
    <section class="mt-5 px-5">
        <h4 class="fw-bolder mb-3" style="font-family: Roboto, sans-serif;">deals of the day</h4>
        <div class="row">
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name7.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">Staub Ceramics 3-piece Mixed Baking Dish Set</p>
                <h3 class="mb-1">$195.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$315.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name8.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">Blom Coffee Table</p>
                <h3 class="mb-1">$295.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$399.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name9.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">Hanner 30.236'' Wide 2 -Drawer File Cabinet</p>
                <h3 class="mb-1">$155.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$375.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name10.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">75/96" H Solid Surface Shower &amp; Tub Wall Panel, Surround, Quick Install, Cuttable,
                    0.138" thick</p>
                <h3 class="mb-1">$895.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$1115.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name11.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">Freestanding Linen Cabinet</p>
                <h3 class="mb-1">$95.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$215.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name12.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">Suki Coffee Table</p>
                <h3 class="mb-1">$695.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$1315.00</small>
            </div>
        </div>
    </section>
    <section class="mt-5 px-5">
        <div class="col hover-div p-4"><img class="img-fluid"
                src="assets/img/holiday_essentials_for_less._host,_toast,_and_save_303551557.webp"
                style="border-radius: 10px;"></div>
    </section>
    <section class="mt-5 px-5">
        <div class="row">
            <div class="col col-3 hover-div p-4"><img class="img-fluid" src="assets/img/default_name13.webp"
                    style="border-radius: 10px;"></div>
            <div class="col col-3 hover-div p-4"><img class="img-fluid" src="assets/img/default_name14.webp"
                    style="border-radius: 10px;"></div>
            <div class="col col-3 hover-div p-4"><img class="img-fluid" src="assets/img/default_name15.webp"
                    style="border-radius: 10px;"></div>
            <div class="col col-3 hover-div p-4"><img class="img-fluid" src="assets/img/default_name16.webp"
                    style="border-radius: 10px;"></div>
        </div>
    </section>
    <section class="mt-5 px-5">
        <h4 class="fw-bolder mb-3" style="font-family: Roboto, sans-serif;">scents of the season</h4>
        <div class="row">
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name17.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">ILLUME Noble Holiday Baltic Glass Candle, Balsam</p>
                <h3 class="mb-1">$35.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$45.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name18.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">ILLUME Large Boxed Crackle Glass Candle, Woodfire</p>
                <h3 class="mb-1">$45.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$69.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name19.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">ILLUME Beautifully Done Hinoki Sage Soy Candle</p>
                <h3 class="mb-1">$15.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$25.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name20.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">ILLUME Vanity Tin Candle, Balsam &amp; Cedar</p>
                <h3 class="mb-1">$15.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$35.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name21.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">ILLUME Demi Vanity Tin Candle, Woodfire</p>
                <h3 class="mb-1">$15.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$25.00</small>
            </div>
            <div class="col col-2 hover-div p-4"><img class="img-fluid" src="assets/img/default_name22.webp"
                    style="border-radius: 10px;">
                <p class="mb-2">ILLUME Small Boxed Crackle Glass Candle, Woodfire</p>
                <h3 class="mb-1">$25.99</h3><small class="text-decoration-line-through"
                    style="text-decoration: line-through;">$35.00</small>
            </div>
        </div>
    </section>
    <section class="mt-5 px-5">
        <div class="col hover-div p-4"><img class="img-fluid" src="assets/img/shop_the_look_306417749.webp"
                style="border-radius: 10px;"></div>
    </section>
</div>