<div class="container mt-5">
    <form #checkoutForm="ngForm">
        <section>
            <div class="row">
                <div class="col col-12 col-lg-8">
                    <section name="deliveryAddress">
                        <div class="row mb-4">
                            <div class="col">
                                <label class="form-label">First Name</label>
                                <input class="form-control fw-bold" type="text" name="firstName"
                                    [(ngModel)]="checkoutData.deliveryAddress.firstName" required #firstName="ngModel"
                                    (change)="saveToCheckoutSignal()">
                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert">
                                    <div *ngIf="firstName.hasError('required')">
                                        <small>First Name is required.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-label">Last Name</label>
                                <input class="form-control fw-bold" type="text" name="lastName"
                                    [(ngModel)]="checkoutData.deliveryAddress.lastName" required #lastName="ngModel"
                                    (change)="saveToCheckoutSignal()">
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert">
                                    <div *ngIf="lastName.hasError('required')">
                                        <small>Last Name is required.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label class="form-label">Phone Number</label>
                                <input class="form-control fw-bold" type="text" name="phone"
                                    [(ngModel)]="checkoutData.deliveryAddress.phone" required #phone="ngModel"
                                    (change)="saveToCheckoutSignal()">
                                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert">
                                    <div *ngIf="phone.hasError('required')">
                                        <small>Phone is required.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label class="form-label">Delivery Address</label>
                                <input class="form-control fw-bold" type="text" name="address1"
                                    [(ngModel)]="checkoutData.deliveryAddress.address1" required #address1="ngModel"
                                    (change)="saveToCheckoutSignal()">
                                <div *ngIf="address1.invalid && (address1.dirty || address1.touched)" class="alert">
                                    <div *ngIf="address1.hasError('required')">
                                        <small>address1 is required.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label class="form-label">Delivery Address Line 2 (Optional)</label>
                                <input class="form-control fw-bold" type="text" name="address2"
                                    [(ngModel)]="checkoutData.deliveryAddress.address2" required #address2="ngModel"
                                    (change)="saveToCheckoutSignal()">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="formCheck-1"
                                        name="useAsBillingAddress"
                                        [(ngModel)]="checkoutData.deliveryAddress.useAsBillingAddress" required
                                        #useAsBillingAddress="ngModel" (change)="saveToCheckoutSignal()">
                                    <label class="form-check-label" for="formCheck-1">Use as Billing Address</label>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section name="paymentMethod">
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-check" name="">
                                    <input class="form-check-input" type="radio" id="formCheck-2" value="PayPal"
                                        name="paymentMethod" [(ngModel)]="checkoutData.paymentMethod.paymentType"
                                        (change)="saveToCheckoutSignal()">
                                    <label class="form-check-label" for="formCheck-2"
                                        style="font-style: italic;">PayPal</label>
                                </div>
                                <div class="form-check" name="">
                                    <input class="form-check-input" type="radio" id="formCheck-3" value="Credit Card"
                                        name="paymentMethod" [(ngModel)]="checkoutData.paymentMethod.paymentType"
                                        (change)="saveToCheckoutSignal()">
                                    <label class="form-check-label" for="formCheck-3">Credit Card</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-text p-0">
                                        <i class="fa fa-credit-card-alt" style="font-size: 25px;">

                                        </i>
                                    </span>
                                    <input class="form-control fw-bold" type="text" name="cardNumber" required
                                        placeholder="Enter credit card number"
                                        [(ngModel)]="checkoutData.paymentMethod.cardNumber" #cardNumber="ngModel"
                                        (change)="saveToCheckoutSignal()">
                                </div>
                                <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
                                    class="alert">
                                    <div *ngIf="cardNumber.hasError('required')">
                                        <small>Card Number is required.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col col-12 col-lg-4">
                                <small>Expiration Month</small>
                                <select class="form-select fw-bold" name="expMonth" required
                                    [(ngModel)]="checkoutData.paymentMethod.expMonth" #expMonth="ngModel"
                                    (change)="saveToCheckoutSignal()">
                                    <optgroup label="Month">
                                        <option *ngFor="let expMonth of expirationMonths">
                                            {{expMonth}}
                                        </option>
                                    </optgroup>
                                </select>
                                <div *ngIf="expMonth.invalid && (expMonth.dirty || expMonth.touched)" class="alert">
                                    <div *ngIf="expMonth.hasError('required')">
                                        <small>Expiration Month is required.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 col-lg-4">
                                <small>Expiration Year</small>
                                <select class="form-select fw-bold" readonly="" name="expYear" required
                                    [(ngModel)]="checkoutData.paymentMethod.expYear" #expYear="ngModel"
                                    (change)="saveToCheckoutSignal()">
                                    <optgroup label="Year">
                                        <option *ngFor="let expYear of expirationYears">
                                            {{expYear}}
                                        </option>
                                    </optgroup>
                                </select>
                                <div *ngIf="expYear.invalid && (expYear.dirty || expYear.touched)" class="alert">
                                    <div *ngIf="expYear.hasError('required')">
                                        <small>Expiration Year is required.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 col-lg-4">
                                <small>CVV (on back)</small>
                                <div class="input-group">
                                    <span class="input-group-text p-0">
                                        <i class="fa fa-credit-card-alt" style="font-size: 25px;">

                                        </i>
                                    </span>
                                    <input class="form-control fw-bold" type="text" maxlength="3" name="CVV" required
                                        [(ngModel)]="checkoutData.paymentMethod.CVV" #CVV="ngModel"
                                        (change)="saveToCheckoutSignal()" placeholder="Enter CVV">
                                </div>
                                <div *ngIf="CVV.invalid && (CVV.dirty || CVV.touched)" class="alert">
                                    <div *ngIf="CVV.hasError('required')">
                                        <small>CVV is required.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col col-12 col-md-4">
                    <div class="p-4" style="border: 3px solid #8b34ab ;">
                        <app-cart-summary />

                        <button class="btn btn-bg-color w-100 fw-bold" [disabled]="!checkoutForm.valid" type="button"
                            (click)="placeOrder()" style="background: #8b34ab; color: white;">Place order</button>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>