<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">
                <span>Home</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">
                <span>Library</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">
                <span>Data</span>
            </a>
        </li>
    </ol>
    <section class="px-lg-3">
        <div class="row">
            <div class="col col-md-3 col-lg-2 d-none d-md-block">
                <app-product-sidenav />
            </div>
            <div class="col col-12 col-md-9 col-lg-10">
                <h3 class="fw-bold d-inline-block me-2">Living Room Sets</h3>
                <small class="d-inline-block">{{products.products.length}}
                    item(s)</small>
                <div class="row">
                    <div *ngFor="let product of products.products" class="col col-12 col-md-6 col-lg-4 p-3 gallery-col">
                        <img class="img-fluid" #imgEl src="assets/img/{{product.images[0]}}"
                            [routerLink]="['/selected-product', product._id]">

                        <div class="d-flex justify-content-around mt-2">
                            <img *ngFor="let img of product.images;" class="img-fluid" src="assets/img/{{img}}"
                                style="width: 47.4px;" (click)="setCurrentGalleryImg(imgEl, img)"
                                [ngClass]="{'gallery-product-selected': isImgClicked(imgEl, img) }">
                        </div>
                        <h5 class="mt-2">{{product.name}}</h5>
                        <div>
                            <span [createRatingStars]="product.rating">
                                <span>

                                </span>
                            </span>
                        </div>
                        <div>
                            <h4 class="mt-2 d-inline-block">
                                {{product.price | discountPrice:product.discount}}
                            </h4>
                            <small class="d-inline-block ms-2 text-decoration-line-through">
                                {{product.price | currency}}
                            </small>
                        </div>
                        <a class="btn d-md-flex align-items-md-center app-btn p-0 fw-bold" role="button" color="#8b34ab"
                            (click)="addToCart(product)">
                            <i class="fa fa-cart-plus me-2" style="font-size: 20px;">

                            </i>Add To Cart</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-flex justify-content-center mt-2">
                        <app-pagination />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>