<div class="container-fluid mt-4">
    <section>
        <div class="row">
            <div class="col col-12 col-md-7">
                <div class="row">
                    <div class="col d-flex justify-content-center col-12 col-md-2">
                        <ul class="list-unstyled  selected-product-gallery">
                            <li *ngFor="let img of selectedProduct?.images" class="mb-2 me-2 me-md-0">
                                <img class="img-fluid" src="assets/img/{{img}}" style="width: 47px;"
                                    (click)="setCurrentImg(img)" [ngClass]="{'gallery-product': currentImg === img }">
                            </li>
                        </ul>
                    </div>
                    <div class="col p-md-2 p-4 d-flex justify-content-center">
                        <img class="img-fluid currentImg" src="assets/img/{{currentImg}}">
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-5">
                <h5 class="mb-3">{{selectedProduct?.name}}</h5>
                <div class="mb-3">
                    <span *ngIf="selectedProduct" [createRatingStars]="selectedProduct.rating">
                        <span> </span>
                    </span>
                </div>
                <div class="mb-3">
                    <h4 *ngIf="selectedProduct" class="mt-2 d-inline-block">
                        {{selectedProduct.price | discountPrice:selectedProduct.discount}}
                    </h4>
                    <small *ngIf="selectedProduct" class="d-inline-block ms-2 text-decoration-line-through">
                        {{selectedProduct.price | currency}}
                    </small>
                </div>
                <div class="mb-3">
                    <div class="input-group text-center" style="width: 109.3px;">
                        <button class="btn btn-light btn-sm" type="button" (click)="decreaseQuantity()"
                            style="border-color: #7b189f;">
                            <i class="fa fa-minus" style="color: #7b189f;">
                            </i>
                        </button>
                        <input class="form-control d-flex d-md-flex text-center" type="text" name="quantity"
                            [(ngModel)]="quantity" readonly="" style="border-color: #7b189f;">

                        <button class="btn btn-light btn-sm" type="button" (click)="increaseQuantity()"
                            style="border-color: #7b189f;">
                            <i class="fa fa-plus" style="color: #7b189f;">
                            </i>
                        </button>
                    </div>
                </div>
                <button class="btn btn-light w-75 mb-3 addToCartHover" type="button" (click)="addToCart()"
                    style="background: #7b189f;color: var(--bs-btn-bg);">Add to Cart</button>
                <div class="mt-3">
                    <div class="accordion" role="tablist" id="accordion-1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab">
                                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#accordion-1 .item-1" aria-expanded="true"
                                    aria-controls="accordion-1 .item-1"
                                    style="/*background: #f5f5f5;*/">Description</button>
                            </h2>
                            <div class="accordion-collapse collapse show item-1" role="tabpanel"
                                data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">{{selectedProduct?.description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab">
                                <button class="accordion-button collapsed fw-bold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2"
                                    aria-expanded="false" aria-controls="accordion-1 .item-2">Specifications</button>
                            </h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel"
                                data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
                                        odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                        gravida at eget metus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab">
                                <button class="accordion-button collapsed fw-bold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3"
                                    aria-expanded="false" aria-controls="accordion-1 .item-3">Return Policy</button>
                            </h2>
                            <div class="accordion-collapse collapse item-3" role="tabpanel"
                                data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
                                        odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                        gravida at eget metus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>