<div class="container-fluid mt-4">
    <section>
        <div class="row">
            <div class="col col-12 col-md-7">
                <div class="row">
                    <div class="col d-flex justify-content-center col-12 col-md-2">
                        <ul class="list-unstyled  selected-product-gallery">
                            <li class="mb-2 me-2 me-md-0">
                                <img class="img-fluid" src="assets/img/Screenshot%20from%202024-10-26%2011-01-44.png"
                                    style="width: 47px;">
                            </li>
                            <li class="mb-2 me-2 me-md-0">
                                <img class="img-fluid" src="assets/img/Screenshot%20from%202024-10-26%2012-47-50.png"
                                    style="width: 47px;">
                            </li>
                            <li class="mb-2 me-2 me-md-0">
                                <img class="img-fluid" src="assets/img/Screenshot%20from%202024-10-26%2012-48-02.png"
                                    style="width: 47px;">
                            </li>
                            <li class="mb-2 me-2 me-md-0">
                                <img class="img-fluid" src="assets/img/Screenshot%20from%202024-10-26%2012-48-12.png"
                                    style="width: 47px;">
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <img class="img-fluid" src="assets/img/Screenshot%20from%202024-10-26%2011-01-44.png">
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-5">
                <h5 class="mb-3">Eberlein 3 - Piece Faux Leather Living Room Set</h5>
                <div class="mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                        viewBox="0 0 16 16" class="bi bi-star-fill">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                        </path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                        viewBox="0 0 16 16" class="bi bi-star-fill">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                        </path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                        viewBox="0 0 16 16" class="bi bi-star-fill">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                        </path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                        viewBox="0 0 16 16" class="bi bi-star-fill">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                        </path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                        viewBox="0 0 16 16" class="bi bi-star-fill">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                        </path>
                    </svg>
                </div>
                <div class="mb-3">
                    <h4 class="mt-2 d-inline-block">$1640.00</h4>
                    <small class="d-inline-block ms-2 text-decoration-line-through">$3000.99</small>
                </div>
                <div class="mb-3">
                    <div class="input-group text-center" style="width: 109.3px;">
                        <button class="btn btn-light btn-sm" type="button" style="border-color: #7b189f;">
                            <i class="fa fa-minus" style="color: #7b189f;">
                            </i>
                        </button>
                        <input class="form-control d-flex d-md-flex text-center" type="text" value="2" readonly=""
                            style="border-color: #7b189f;">
                        <button class="btn btn-light btn-sm" type="button" style="border-color: #7b189f;">
                            <i class="fa fa-plus" style="color: #7b189f;">

                            </i>
                        </button>
                    </div>
                </div>
                <button class="btn btn-light w-75 mb-3" type="button"
                    style="background: #7b189f;color: var(--bs-btn-bg);">Add to Cart</button>
                <div class="mt-3">
                    <div class="accordion" role="tablist" id="accordion-1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab">
                                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#accordion-1 .item-1" aria-expanded="true"
                                    aria-controls="accordion-1 .item-1"
                                    style="/*background: #f5f5f5;*/">Description</button>
                            </h2>
                            <div class="accordion-collapse collapse show item-1" role="tabpanel"
                                data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
                                        odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                        gravida at eget metus.Nullam id dolor id nibh ultricies vehicula ut id elit.
                                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
                                        mi porta gravida at eget metus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab">
                                <button class="accordion-button collapsed fw-bold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2"
                                    aria-expanded="false" aria-controls="accordion-1 .item-2">Specifications</button>
                            </h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel"
                                data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
                                        odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                        gravida at eget metus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab">
                                <button class="accordion-button collapsed fw-bold" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3"
                                    aria-expanded="false" aria-controls="accordion-1 .item-3">Return Policy</button>
                            </h2>
                            <div class="accordion-collapse collapse item-3" role="tabpanel"
                                data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
                                        odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                        gravida at eget metus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>