<div>
    <section>
        <h5>{{productSidenav.category.title}}</h5>
        <ul class="list-unstyled">
            <li *ngFor="let category of productSidenav.category.categories" class="form-check">
                <input [(ngModel)]="category.checked" name="category" type="checkbox" class="me-2"
                    (change)="getProducts()">
                <label class="form-label">{{category.name}}</label>
            </li>
        </ul>
    </section>
    <section>
        <h5>{{productSidenav.priceFilter.title}}</h5>
        <ul class="list-unstyled">
            <li *ngFor="let priceRange of productSidenav.priceFilter.priceRange" class="form-check">
                <input class="me-2" type="checkbox" id="formCheck-6" name="priceRange" [(ngModel)]="priceRange.checked"
                    (change)="getProducts()">
                <label class="form-label">{{priceRange.label}}</label>
            </li>
        </ul>
    </section>
    <section>
        <h5>{{productSidenav.ratings.title}}</h5>
        <ul class="list-unstyled">
            <li *ngFor="let rating of productSidenav.ratings.ratings" class="form-check">
                <input class="me-2" type="checkbox" id="formCheck-11" name="rating" [(ngModel)]="rating.checked"
                    (change)="getProducts()">
                <label class="form-label" for="formCheck-11">
                    <span [createRatingStars]="rating.rating">
                        <span></span>
                    </span>
                </label>
            </li>
        </ul>
    </section>
</div>>