@import 'ngx-toastr/toastr';

body {
    font-family: Roboto, sans-serif;
}

.link-color {
    color: #0d6efd;
}

a {
    color: inherit !important;
    text-decoration: none !important;
    cursor: pointer;
    &:hover {
        color: #0d6efd !important;
    }
}

.app-btn {
    color: #8b34ab !important;
    font-weight: bold;
}

.red {
    color: red !important;
}

.search-button {
    // color: white;
    background: #8b34ab !important;
    color: white !important;
    border-radius: 0px;
}